#conversas-container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
     
    border-radius: 8px;
}


h2 {
    font-size: 1.5em;
    margin: 0;
    color: #987654;
    text-align: left;
    margin-bottom: -1rem;
    margin-right: 3+rem
  
}

.index{
 
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#conversas-list {
    margin-top: 20px;
   
}

.conversa-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #987654;
    border-radius: 5px;
    margin-bottom: 10px;
}
.trash-icon {
    color: #987654;
    cursor: pointer;
    font-size: 18px;
    margin-left: 10px;
    transition: transform 0.2s;
}

.trash-icon:hover {
    transform: scale(1.2);
}



p{
    color: #987654;
    margin-left: .2rem;
}
.conversa-link {
    display: inline-block;
    padding: 10px;
    background-color: #987654;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.conversa-link:hover {
    background-color: #6c543b;
}

