/* ===== Google Font Import - Poformsins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffefd5;
}

.container {
    position: relative;
    max-width: 430px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 0 20px;
}

.container .forms {
    display: flex;
    align-items: center;
    width: 200%;
    transition: height 0.2s ease;
}




.container .form {
    width: 50%;
    padding: 30px;
    background-color: #fff;
    transition: margin-left 0.18s ease;
}

.container.active .login {
    margin-left: -50%;
    opacity: 0;
    transition: margin-left 0.18s ease, opacity 0.15s ease;
}

.container .signup {
    opacity: 0;
    transition: opacity 0.09s ease;
}

.container.active .signup {
    opacity: 1;
    transition: opacity 0.2s ease;
}

.container.active .forms {
    height: 600px;
}

.container .form .title {
    position: relative;
    font-size: 27px;
    font-weight: 600;
    
}

.form .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: #c19a6b;
    border-radius: 25px;
}

.form .input-field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;
    

}

.input-field input {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid) {
    border-bottom-color: #c19a6b;
}

.input-field i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 23px;
    transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid)~i {
    color: #c19a6b;
}

.input-field i.icon {
    left: 0;
}



.form .checkbox-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.checkbox-text .checkbox-content {
    display: flex;
    align-items: center;
}

.checkbox-content input {
    margin-right: 10px;
    accent-color: #c19a6b;
}

.form .text {
    color: #333;
    font-size: 14px;
}

.form a.text {
    color: #c19a6b;
    text-decoration: none;
}

.form a:hover {
    text-decoration: underline;
}


.form .login-signup {
    margin-top: 30px;
    text-align: center;
}

.form.signup {
    display: none; /* Inicialmente escondido */
    visibility: visible; /* Certifique-se de que o conteúdo é visível */
    opacity: 1; /* Certifique-se de que o formulário não está com opacidade 0 */
    transition: opacity 0.5s ease; /* Animação para tornar a transição suave */
  }
  
  .form.signup.active {
    display: block; /* Exibe o formulário quando a classe 'active' for adicionada */
    opacity: 1;
  }
  
.go-back {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
  }
  
  .go-back button {
    padding: 10px 20px;
    background-color: #c19a6b;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .go-back button:hover {
    background-color: #957042;
  }
  

  #submit, #submit2 {
    display: block;
    margin: 15px auto;
    padding: 10px 30px;
    background-color: #c19a6b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    transition: background-color 0.3s ease;
}

#submit:hover, #submit2:hover {
    background-color: #957042;
}

#successMessage {
    padding: 15px;
    background-color: #4caf50; /* Verde */
    color: white;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    display: none; /* Escondido inicialmente */
    font-weight: bold;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.alert.error {
    background-color: #fdecea;
    margin-top: 1rem;
    border-radius: 1rem;
    padding: .5rem;
  }
  
  .alert.error p {
    color: #dc3545;
  }

  .error-message {
    background-color: #fdecea;
    margin-top: 1rem;
    border-radius: 1rem;
    padding: .5rem;
    color: #dc3545;
  
    display: none; /* Escondido por padrão */
    
}

 